@import url("https://fonts.googleapis.com/css?family=Raleway");

.form-control.error {
  border-color: red;
}

.form-control.success {
  border-color: green;
}
.form {
  border-color: aqua;
}

.form__field {
  margin-bottom: 10px;
}

.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}
