summary {
  border-bottom: 1px solid lightgray;
}

details {
  margin-bottom: var(--space-l);
}

.decisionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.decisionDetailsContainer {
  width: 60vw;
}

.comment {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.commentInfoSection {
  margin-bottom: var(--space-m);
}
