@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --main-bg-color: #196c84;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

header {
  background-color: var(--main-bg-color);
  padding: 10px;
}

.container {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 100vh;
  gap: 0px 0px;
}
