@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --main-bg-color: #196c84;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

header {
  background-color: var(--main-bg-color);
  padding: 10px;
}

.container {
  display: grid;
  /* grid-template-rows: 10% 85% 5%; */
  height: 100vh;
  gap: 0px 0px;
}

form {
  width: 80vw;
  margin: auto;
}

form fieldset {
  border-radius: 5px;
  padding: 20px;
}

form fieldset label {
  font-size: 1.5rem;
}

.admin-wrapper {
  display: grid;
  grid-template-columns: [menu-admin] 1fr [admin-tools-containe] 4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "menu-admin admin-tools-container";
}

.admin-tools-container {
  grid-area: admin-tools-container;
}

.menu-admin {
  grid-area: menu-admin;
}